

<template>
  <main>
    <div class="calculator">
      <div class="calculator-main">
        <h1 class="calculator__name">Калькулятор</h1>
        <div class="tabs">
          <div
            v-for="(sort, index) in sorts"
            :key="index"
            @click="setActive(sort)"
            :class="['tab', sort.active && 'tab-active']"
          >
            {{ sort.name }}
          </div>
        </div>
        <div class="calc-inputs">
          <div style="width: 100%">
            <div :class="['calc-input', v$.values.trash.value.$error && 'invalid']">
              <span>Сміття (%)</span>

              <div class="calc-wrapper">
                <input type="number" v-model="values.trash.value" :class="['calc-data']" />
                <span class="calc-operator" @click="values.trash.value++">+</span>
                <span class="calc-operator" @click="values.trash.value--">-</span>
              </div>

              <div class="calc-limits">
                <span class="calc-err">Некоректне значення</span>
                <span>Не більше {{ values.trash.max_threshold }}%</span>
              </div>
            </div>
            <div :class="['calc-input', v$.values.coarseness.value.$error && 'invalid']">
              <span>Сажковість (%) </span>
              <div class="calc-wrapper">
                <input type="number" v-model="values.coarseness.value" class="calc-data" />
                <span class="calc-operator" @click="values.coarseness.value++">+</span>
                <span class="calc-operator" @click="values.coarseness.value--">-</span>
              </div>
              <div class="calc-limits">
                <span class="calc-err">Некоректне значення</span>
                <span>Не більше {{ values.coarseness.max_threshold }}%</span>
              </div>
            </div>
            <div :class="['calc-input', v$.values.bug.value.$error && 'invalid']">
              <span>Пошкодження клопами (%)</span>
              <div class="calc-wrapper">
                <input type="number" v-model="values.bug.value" class="calc-data" />
                <span class="calc-operator" @click="values.bug.value++">+</span>
                <span class="calc-operator" @click="values.bug.value--">-</span>
              </div>
              <div class="calc-limits">
                <span class="calc-err">Некоректне значення</span>
                <span>Не більше {{ values.bug.max_threshold }}%</span>
              </div>
            </div>
          </div>
          <div style="width: 100%">
            <div :class="['calc-input', v$.values.cereal.value.$error && 'invalid']">
              <span>Злакові культури (%)</span>
              <div class="calc-wrapper">
                <input type="number" v-model="values.cereal.value" :class="['calc-data']" />
                <span class="calc-operator" @click="values.cereal.value++">+</span>
                <span class="calc-operator" @click="values.cereal.value--">-</span>
              </div>
              <div class="calc-limits">
                <span class="calc-err">Некоректне значення</span>
                <span>Не більше {{ values.cereal.max_threshold }}%</span>
              </div>
            </div>
            <div :class="['calc-input', v$.values.beaten.value.$error && 'invalid']">
              <span>Биті (%)</span>
              <div class="calc-wrapper">
                <input type="number" v-model="values.beaten.value" class="calc-data" />
                <span class="calc-operator" @click="values.beaten.value++">+</span>
                <span class="calc-operator" @click="values.beaten.value--">-</span>
              </div>
              <div class="calc-limits">
                <span class="calc-err">Некоректне значення</span>
                <span>Не більше {{ values.beaten.max_threshold }}%</span>
              </div>
            </div>
            <div :class="['calc-input', v$.values.grain.value.$error && 'invalid']">
              <span>Зернові домішки (%)</span>
              <div class="calc-wrapper">
                <input type="number" v-model="values.grain.value" class="calc-data" />
                <span class="calc-operator" @click="values.grain.value++">+</span>
                <span class="calc-operator" @click="values.grain.value--">-</span>
              </div>
              <div class="calc-limits">
                <span class="calc-err">Некоректне значення</span>
                <span>Не більше {{ values.grain.max_threshold }}%</span>
              </div>
            </div>
          </div>
        </div>
        <button class="btn" @click="runCalc">Розрахувати</button>
      </div>
      <div class="total-column">
        <h2>{{ activeSortValue.name }}</h2>
        <div class="total">
          <div class="total__price">
            {{ total }}
          </div>
          <div class="total__per">Ціна зерна (грн/т)</div>
        </div>
        <div class="sales">
          <h3>Знижка за такі параметри:</h3>
          <div class="sales-data">
            <div class="sales-item">
              Сміттєві домішки: <span>{{ values.trash.sale }} грн</span>
            </div>
            <div class="sales-item">
              Сажкове зерно: <span>{{ values.coarseness.sale }} грн</span>
            </div>
            <div class="sales-item">
              Зерно пошкоджене клопом: <span>{{ values.bug.sale }} грн</span>
            </div>
            <div class="sales-item">
              Злакові культури: <span>{{ values.cereal.sale }} грн</span>
            </div>
            <div class="sales-item">
              Биті: <span>{{ values.beaten.sale }} грн</span>
            </div>
            <div class="sales-item">
              Зернові домішки: <span>{{ values.grain.sale }} грн</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script setup>
import { ref, reactive, computed, onMounted } from 'vue'
import { useVuelidate } from '@vuelidate/core'
import { required, maxValue } from '@vuelidate/validators'
onMounted(() => {
  total.value = sorts.find((obj) => {
    return obj.active == true
  }).value
})

const sorts = reactive([
  { name: 'Другий сорт', value: 6000, active: true },
  { name: 'Третій сорт', value: 5500, active: false },
  { name: 'Тверді сорта', value: 8500, active: false }
])
const values = reactive({
  trash: {
    value: 0,
    threshold: 2,
    max_threshold: 3,
    sale: 0,
    formula: (x) => {
      return (x - 2) * 12.6
    }
  },
  coarseness: {
    value: 0,
    threshold: 8,
    max_threshold: 15,
    sale: 0,
    formula: (x, price) => {
      return (x - 8) * 0.01 * price
    }
  },
  bug: {
    value: 0,
    threshold: 2,
    max_threshold: 100,
    sale: 0,
    formula: (x) => {
      return x - 2
    }
  },
  cereal: {
    value: 0,
    threshold: 4,
    max_threshold: 100,
    sale: 0,
    formula: (x) => {
      return x - 4
    }
  },
  beaten: {
    value: 0,
    threshold: 5,
    max_threshold: 8,
    sale: 0,
    formula: (x) => {
      return x - 5
    }
  },
  grain: {
    value: 0,
    threshold: 8,
    max_threshold: 100,
    sale: 0,
    formula: (x) => {
      return x - 8
    }
  }
})
const rules = {
  values: {
    trash: {
      value: { required, maxValue: maxValue(values.trash.max_threshold) }
    },
    coarseness: {
      value: { required, maxValue: maxValue(values.coarseness.max_threshold) }
    },
    bug: {
      value: { required, maxValue: maxValue(values.bug.max_threshold) }
    },
    cereal: {
      value: { required, maxValue: maxValue(values.cereal.max_threshold) }
    },
    beaten: {
      value: { required, maxValue: maxValue(values.beaten.max_threshold) }
    },
    grain: {
      value: { required, maxValue: maxValue(values.grain.max_threshold) }
    }
  }
}

const v$ = useVuelidate(rules, { values })

const total = ref(0)

const activeSortValue = computed(() => {
  return sorts.filter((obj) => {
    return obj.active == true
  })[0]
})
function setActive(sort) {
  Object.keys(sorts).forEach((v) => (sorts[v].active = false))
  total.value = sort.value
  sort.active = true
  runCalc()
}
function runCalc() {
  total.value = activeSortValue.value.value
  v$.value.$touch()
  // if (v$.value.$invalid) {
  //   console.log('Form is invalid')
  // } else {
  //   console.log('Form is valid')
  // }
  for (const el in values) {
    if (values[el].value > values[el].threshold && values[el].value <= values[el].max_threshold) {
      let sale = values[el].formula(values[el].value, activeSortValue.value.value).toFixed(2)
      values[el].sale = sale
      total.value -= sale
    }
  }
}
</script>

<style scoped>
.calculator {
  border: 1px solid #a89680;
  border-radius: 30px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  gap: 20px;
}
.calculator-main {
  max-width: 800px;
  width: 100%;
}
.calculator__name {
  font-size: 48;
  font-weight: 500;
}

.calc-inputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.calc-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.btn {
  background: #000000;
  color: #fff;
  padding: 15px;
  width: 100%;
  margin-top: 45px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
.tabs {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  gap: 17px;
  margin-bottom: 32px;
  margin-top: 30px;
}

.tabs .tab {
  padding: 10px 20px;
  text-transform: uppercase;
  color: #6d6d6d;
  cursor: pointer;
}
.tab.tab-active {
  color: #000000;
  font-weight: 600;
  border-bottom: 3px solid #000000;
}
.total-column {
  max-width: 383px;
  width: 100%;
  border-left: 1px solid #cbc6bb;
  padding: 0px 30px 0 30px;
  display: flex;
  flex-direction: column;
}
.total__price {
  font-size: 56px;
  color: #f19e38;
  text-align: center;
}

.calc-data {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 0;
  padding: 8px 15px;
  font-size: 16px;
  line-height: 25px;
  width: 100%;
}

.invalid .calc-data {
  border-color: #e73143;
}

.total__per {
  font-size: 20px;
  color: #5f5f5f;
  text-align: center;
}

.calc-operator {
  cursor: pointer;
  font-size: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #5f5f5f;
  padding: 5.5px 14px;
}

.invalid .calc-operator {
  border-color: #e73143;
}

.calc-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.calc-limits {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.calc-err {
  visibility: hidden;
  color: #e73143;
}

.invalid .calc-err {
  visibility: visible;
}

.invalid .calc-limits {
  color: #e73143;
}

.total {
  width: 100%;
  border-top: 1px solid #a89680;
  border-bottom: 1px solid #a89680;
  padding: 20px 0;
}

.total-column h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.sales {
  margin-top: 20px;
}

.sales h3 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
.sales-data span {
  font-weight: 600;
}

.sales-item {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}

input {
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
</style>