@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#app {

  margin: 0 auto;

  font-family: "Inter", sans-serif;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}